

main, .container-fluid{
    max-width:100%;
    min-height: 100%;
}

section {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 15%;
}

h1 {
    text-align:center;
    font-weight: 400;
    margin-bottom:50px
}

h1 .blue {
    color:midnightblue;
}

h1 .white {
    color:white;
}

.btn-blue {
    background-color: midnightblue;
    color:white;
}


.btn-blue:hover{
    color: midnightblue;
    background: none;
    border:solid 1px midnightblue;
}



.btn-white, .btn-fa {
    background-color: none;
    color: midnightblue;
}

.btn-white:hover {
    background-color:midnightblue;
    color: white;
    border: solid 1px white;
}

.btn-fa:hover {
    color: royalblue;
}


.section-blue {
    background-color: midnightblue;
    color:white;
}

.article {
    margin: 50px auto;
}

