<nav class="navbar navbar-expand-lg navbar-light bg-blue">

    <div class="navbar-brand">
        <a href="#">My First Angular Blog</a>
    </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">ALL ARTICLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NEW ARTICLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
        </div>
</nav>
<div class="container">
    <div id="listArticles">
        <div>

        </div>
    </div>


    <div class="form-article container">
        <form>
            <div class="form-group">
                <label for="article_title">Titre de l'article*</label>
                <input type="text" class="form-control" id="article_title"
                       placeholder="Entrez ici le titre*" data-error="Merci de renseigner un titre" required>
            </div>

            <div class="form-group">
                <label for="article_author">Auteur</label>
                <input type="text" class="form-control" id="article_author" placeholder="Entrez ici l'auteur">
            </div>

            <div class="form-group">
                <label for="article_description">Contenu</label>
                <textarea class="form-control" rows="5" id="article_description"
                          placeholder="Entrez ici le contenu"></textarea>
            </div>

            <button class="btn btn-dark">Enregitrer</button>
        </form>
    </div>

    <div class="form-contact container">
        <form>
            <div class="form-group">
                <label for="firstname">Prénom*</label>
                <input type="text" class="form-control" id="firstname"
                       placeholder="Prénom*" data-error="Merci de renseigner votre prénom" required>
                <label for="lastname">Nom*</label>
                <input type="text" class="form-control" id="lastname"
                       placeholder="Nom*" data-error="Merci de renseigner votre nom" required>
            </div>

            <div class="form-group">
                <label for="article_author">Email*</label>
                <input type="email" class="form-control" id="email" placeholder="Email"
                       data-error="Merci de renseigner votre email" required>
            </div>

            <div class="form-group">
                <label for="message">Message*</label>
                <textarea class="form-control" rows="5" id="message" placeholder="Message"
                          data-error="Merci d'écrire un message" required></textarea>
            </div>

            <button class="btn btn-dark">Envoyer</button>
        </form>
    </div>
</div>

