‡<header>
    <blog-navbar title="Blog V2" (onNavigate)="nav($event)"></blog-navbar>
</header>


<main class="container-fluid p-0">
    <section class="container-fluid listArticles" *ngIf="showall">
        <div class="row">
                    <div class="col-sm-4 offset-sm-4">
            <h1 class="blue">ALL ARTICLES</h1>
        </div>
            <div class="col-sm-1 offset-sm-3">
                <a (click)="addArticle()">
                    <i class="fa fa-plus-circle fa-3x btn-fa" aria-hidden="true"> </i></a>
            </div>
                </div>


        <article class="article card" *ngFor="let article of articles; index as i">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="d-inline-flex">{{article?.title}}</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                        <a (click)="updateArticle(article.id, i)"><i class="fa fa-edit fa-2x btn-fa" aria-hidden="true"> </i></a>
                        <a (click)="deleteArticle(article.id, i)"><i class="fa fa-trash fa-2x btn-fa ml-2" aria-hidden="true"> </i></a>

                    </div>

                </div>

            </div>
            <div class="card-body">
                <p class="card-text">{{ article?.description }}</p>
            </div>
        </article>
    </section>

    <section class="container-fluid section-blue" *ngIf="editing">
        <h1 class="white">NEW ARTICLE</h1>
        <form id="article-form" method="post" action="article.php" role="form" (ngSubmit)="saveArticle(myForm)"
              #myForm="ngForm">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="article_title">Title*</label>
                    <input type="text" class="form-control" id="article_title" name="article_title"
                           [(ngModel)]="editArticle.title"
                           placeholder="Enter the title" data-error="Please, don't let me empty" required>
                </div>

                <div class="form-group col-sm-6">
                    <label for="article_author">Author</label>
                    <input type="text" class="form-control" id="article_author" name="article_author"
                           [(ngModel)]="editArticle.author" placeholder="Enter the author">
                </div>
            </div>
            <div class="form-group">
                <label for="article_description">Content</label>
                <textarea class="form-control" rows="10" id="article_description" name="article_description"
                          [(ngModel)]="editArticle.description"
                          placeholder="Enter the content here..."></textarea>
            </div>

            <div class="form-row text-right">
                <div class="form-group col-md-12">
                    <p class="text-muted" style="display: inline-block; margin-right: 2%">* The fields are required</p>
                    <input type="submit" class="btn btn-white" (click)="backToList()"
                           value="Publish and return to list">
                    <input type="submit" class="btn btn-white" value="Add and continue editing">
                </div>
            </div>
        </form>
    </section>

    <section class="container-fluid form-contact" *ngIf="showContact">
        <h1 class="blue">CONTACT</h1>
        <form id="contact-form" method="post" action="contact.php" role="form"
              (ngSubmit)="sendContact(myForm2)" #myForm2="ngForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="firstname">Firstname*</label>
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                   placeholder="Enter your firstname" data-error="Please, don't let me empty" required
                                   [(ngModel)]="contact.firstname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="lastname">Lastname*</label>
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                   placeholder="Enter your lastname" data-error="Please, don't let me empty" required
                                   [(ngModel)]="contact.lastname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                                   data-error="Please, don't let me empty" required [(ngModel)]="contact.email">
                        </div>
                    </div>
                </div>


                <div class="form-group col-lg-6">
                    <label for="message">Message*</label>
                    <textarea class="form-control" rows="7" id="message" name="message" placeholder="Message"
                              data-error="Merci d'écrire un message" required [(ngModel)]="contact.message"></textarea>
                </div>
            </div>
            <div class="row text-right">
                <div class="form-group col-md-12">
                    <p class="text-muted" style="display: inline-block; margin-right: 2%">* The fields are required</p>
                    <input type="submit" class="btn btn-blue" value="Send">
                </div>
            </div>

        </form>
    </section>
</main>
